
h1 {
    color: black;
    font-size: 32px;
    text-align: center;
}

p {
    color: whitesmoke;
    font-size: 18px;
    font-family: Helvetica;
    text-align: center
}

.highlight {
    font-style: italic;
    padding: 10px;
    border-radius: 5px;
}


.box {
    background-color: red;
    border: 2px solid black;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}