
h1 {
    color: black;
    font-size: 32px;
    text-align: center;
}


p {
    color: darkblue;
    font-size: 18px;
    font-family: Helvetica;
    text-align: center
}

.italic {
    font-style: italic;
    padding: 10px;
    border-radius: 5px;
}

#main-title {
    color: darkblue;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 30px solid darkblue;
    padding-top: 30px;
    padding-bottom: 30px;
}

#birthday {
    font-weight: bold;
    color: purple;
    text-align: center;
    font-size: 38px;
}


.box {
    background-color: red;
    border: 2px solid black;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.section{
    margin: 40px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1)
    
}

#first_sec {

    border: 1px solid red;

}

#sec_sec{


    border: 1px solid orange;

}

a {
    color: blue; 
    text-decoration: none; 
}


a:hover {
    color: red;
}

img{

     border: 3px solid black;
     border-radius: 8px;
     width:50%;
    max-width: 500px;
}



.image-c{

        text-align: center;
        margin-top: 20px;
    }

